<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p %d{yyyy-MM-dd HH:mm:ss.SSS}] %l [%m]%n" />
		</layout>
	</appender>
	<appender name="stderr" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.err" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%n%-5p:%m %n==> %l%n" />
		</layout>
	</appender>

	<appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/home/work/log/${artifactId}/${artifactId}.log" />
		<param name="DatePattern" value=".yyyyMMdd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p %d{yyyy-MM-dd HH:mm:ss.SSS}] [%t]-[%l]  [%m]%n" />
		</layout>
	</appender>

	<logger name="com.chenyang" additivity="false">
		<level value="debug" />
		<appender-ref ref="file" />
	</logger>


	<root>
		<level value="debug" />
		<appender-ref ref="stdout" />
		<!--<appender-ref ref="file"/>-->
	</root>

</log4j:configuration>
